.reservation {
  background-color: #f7f6f0;
  padding: 95px 24px 30px 24px;
}

.reservation__title {
  color: var(--global-title-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 11px;
  line-height: 15.73px;
  letter-spacing: 1.1px;
}

.reservation__subtitle {
  margin-top: 20px;
  color: var(--global-subtitle-color);
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 41px;
}

.reservation__description {
  margin-top: 20px;
  color: var(--global-secondary-text);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 26px;
}

.reservation-content-decor-for-text {
  width: 100px;
}

.reservation__secondary-text {
  margin-top: 20px;
  color: var(--global-secondary-text);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reservation__rules-container {
  margin-top: 30px;
}

.reservation__rules__list-item {
  margin-bottom: 30px;
  display: flex;
}

.reservation__rules__list-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.reservation__rules-title {
  color: var(--global-subtitle-color);
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
}

.reservation__rules-description {
  color: var(--catering__secondary-text);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reservation__content-form {
  padding: 50px 24px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Додана тінь */
}

.reservation__content-item {
  padding-bottom: 40px;
}

.reservation-form {
  text-align: center;
}

.reservation__content-form__subtitle {
  color: var(--global-subtitle-color);
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 41px;
}

.reservation__content-form-content-decor-for-text {
  width: 100px;
  margin: auto;
}

.reservation-form__text {
  padding-bottom: 20px;
}

.reservation-form__input input,
.reservation-form__input select {
  margin-bottom: 20px;
  background-color: #f7f6f2;
  border: 2px solid #f7f6f2;
  border-radius: 7px 25px 25px 25px;
  padding: 15px 37px;
  width: 100%;
  box-sizing: border-box;
}

.reservation-form__input input::placeholder {
  color: rgb(130, 134, 143);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
}

.reservation-select-text {
  color: var(--global-text-button);
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 19px;
}

.reservation__content-button {
  background-color: var(--global-background-button);
  padding: 10px 30px;
  border: none;
  border-radius: 7px 25px 25px 25px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 30px;
}
.reservation__content-button:hover {
  background-color: var(--global-background-button-hover);
}
.reservation__content-button span {
  color: var(--global-text-button);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}
.reservation__form-status{
	margin-top: 30px;
	color: var(--global-title-color);
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
}
.form-validate {
  border: 2px solid red;
  background-color: #ffe6e6;
}
.error-message {
  color: red;
  font-size: 16px;
  display: none;
  margin-bottom: 10px;
  margin-top: -10px;
}
.error-message.active {
  display: block;
}
@media (min-width: 530px) {
  .reservation-form__input input,
  .reservation-form__input select {
    padding: 15px 10px;
    width: calc(100% - 40px);
  }
  .reservation-form__input input::placeholder {
    text-align: left;
  }
}
@media (min-width: 770px) {
  .reservation {
    background-image: url(../img/contacts-reservation/contacts-reversation-background.jpeg);
    width: 100%;
    background-position: center;
    background-size: contain;
  }
  .reservation__content-container {
    display: flex;
    justify-content: space-between;
  }

  .reservation__content-item,
  .reservation__content-form {
    width: 48%;
  }
}
.fade-out {
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
