.special-offers {
  padding: 95px 24px 100px 24px;
  background-color: var(--special-offers-background);
}
.special-offers__text-container {
  text-align: center;
}
.special-offers__title {
  color: var(--global-title-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 11px;
  line-height: 15.73px;
  letter-spacing: 1.1px;
}
.special-offers__subtitle {
  margin-top: 20px;
  color: var(--global-subtitle-color);
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 40px;
}
.special-offers-content-decor-for-text {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.special-offers__description {
  margin-top: 15px;
  color: var(--global-secondary-text);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 26px;
}
.special-offers__item-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}
.special-offers__card {
  background-color: var(--global-text-button);
}
.special-offers__item-img img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}
.special-offers__item-text {
  padding: 35px;
}
.special-offers__item__title {
  color: var(--global-secondary-text);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
}
.special-offers__item__subtitle {
  margin-top: 20px;
  color: var(--global-subtitle-color);
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
}
.special-offers__item__description {
  margin-top: 20px;
  margin-bottom: 35px;
  color: var(--global-secondary-text);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}
.special-offers__item__button {
  margin-top: 35px;
  background-color: var(--global-background-button);
  padding: 15px 30px;
  border: none;
  border-radius: 7px 25px 25px 25px;
  cursor: pointer;
  text-decoration: none;
}
.special-offers__item__button span {
  color: var(--global-text-button);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}
.special-offers__item__button:hover {
  background-color: var(--global-background-button-hover);
}
@media (min-width: 487px) {
  .special-offers__item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .special-offers__card {
    display: flex;
    flex-direction: row;
  }
  .special-offers__item-img img {
    width: 200px;
    height: 400px;
  }
}
@media (min-width: 671px) {
  .special-offers__item-img img {
    width: 300px;
    height: 350px;
  }
}
@media (min-width: 926px) {
  .special-offers__item-img img {
    width: 350px;
    height: 400px;
  }
  .special-offers__item-text {
    padding: 40px;
  }
}
@media (min-width: 1021px) {
  .special-offers__card {
    display: flex;
    flex-direction: column;
  }
  .special-offers {
    position: relative;
    width: 100%;
    background-position: center -500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/special-offers/offers-background.svg);
  }
  .special-offers__item-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .special-offers__item-img img {
    width: 100%;
    height: 320px;
  }
  .special-offers__card-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1154px) {
  .special-offers__item-img img {
    width: 100%;
    height: 300px;
  }
}
